#content {
	display: block;
	width: 100%;
	height: 900px;
	back-ground:green;
	word-wrap: break-word;
}

#myTile{
    top:0px;
    left:0px;
    background-color: #b0c4de;
    position:static;
    
}

.sapMTCEdgeLeft {
    display: none;
}

.sapMTCEdgeRight{
    display: none;
}